<!DOCTYPE html>
<html>
<head>
	<script>if ((location.protocol !== 'https:') && (location.href.indexOf('localhost') === -1)) { location.href = 'https:' + window.location.href.substring(window.location.protocol.length);}</script> 
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	
	<link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/images/icons/favicon-96x96.png" type="image/png" sizes="96x96" />
	<link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/images/icons/favicon-32x32.png" type="image/png" sizes="32x32" />
		<link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/images/icons/favicon-16x16.png" type="image/png" sizes="16x16" />
	
	<!--[if IE]><link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/images/icons/favicon.ico" type="image/x-icon; charset=binary" /><![endif]-->
	
	<!-- Add to home screen for Android and modern mobile browsers -->
	<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json" />
	<link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/images/icons/safari-pinned-tab.svg" color="#ffffff">
	
	<meta name="msapplication-config" content="<%= htmlWebpackPlugin.files.publicPath %>static/browserconfig.xml" />
	<meta name="theme-color" content="#4DBA87">

	<!-- Add to home screen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-title" content="JSECoin" />
	
	<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/images/icons/favicon-96x96.png" />
	<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/images/icons/favicon-192x192.png" sizes="180x180" />
	<link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/images/icons/safari-pinned-tab.svg" color="#4DBA87" />
	
	<!-- Add to home screen for Windows -->
	<meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/images/icons/ms-icon-144x144.png" />
	<meta name="msapplication-TileColor" content="#000000">


	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@jsecoin" />
	<meta name="twitter:creator" content="@JRSim_UIX">
	<meta name="twitter:title" content="JSECoin" />
	<meta name="twitter:description" content="Explore the Cryptocurrency mined by webmasters built for everyone" />
	<meta name="twitter:image" content="https://www.jsecoin.com/static/images/twitter.png?jsecoinV2" />
	
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.jsecoin.com/" />
	<meta property="og:title" content="JSECoin" />
	<meta property="og:description" content="Explore the Cryptocurrency mined by webmasters built for everyone" />
	<meta property="og:image" content="https://www.jsecoin.com/static/images/facebook.png?jsecoinV2" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="600" />
	<meta property="og:image:height" content="548" />

	<!-- One Signal Push Notifications-->
	<link rel="manifest" href="/manifest.json" />
	<script>
		if (location.href.indexOf('localhost') === -1) {
			const t = document.createElement('script');
			const s = document.getElementsByTagName('script')[0];

			//script attrs
			t.async = true;
			t.defer = true;
			t.id = 'JSEW-OneSignal';
			t.src = 'https://cdn.onesignal.com/sdks/OneSignalSDK.js';

			//inject
			s.parentNode.insertBefore(t, s);
			// added wait until page loads
			document.addEventListener("DOMContentLoaded", function(){
				var OneSignal = window.OneSignal || [];
				OneSignal.push(function() {
					OneSignal.init({
						appId: "20aac144-e0a2-4aad-9b3f-073f248a2bd5",
					});
				});
			});
		}
	</script>


	<% for (var chunk of webpack.chunks) {
				for (var file of chunk.files) {
					if (file.match(/\.(js|css)$/)) { %>
		<link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
</head>
<body>
	
<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Best practise -->

<noscript>
	The JSECoin platform requires Javascript to load. <br />
	Please enable javascript and refresh the page to access the Platform.
</noscript>

<!-- App inject point -->
<div id="JSEW-website"></div>
	
<!-- Service Worker Code -->
<%= htmlWebpackPlugin.options.serviceWorkerLoader %>

<!-- Reduce render-blocking stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" async defer />
<script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>

<!-- PIXELS -->
<script>
	if ((document.getElementById('JSEW-pixels') === null) && (String(document.location).indexOf('localhost') === -1) && (String(document.location).indexOf('privacyPolicy') === -1)) {
		var iframe = document.createElement('iframe');
		iframe.id="JSEW-pixels";
		iframe.src = 'https://jsecoin.com/pixels.php?rt=jsecoin.com';
		document.body.appendChild(iframe);
	}
</script>

<script>
	// save tracking variables to localStorage
	function getQueryParams(qs) {
		qs = qs.split("+").join(" ");
		var params = {}, tokens, re = /[?&]?([^=]+)=([^&]*)/g;
		while (tokens = re.exec(qs)) { params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]); }
		return params;
	}
	var get = getQueryParams(document.location.search);

	// save tracking variables
	if (localStorage) {
		if (get['utm_source']) { localStorage.setItem('utmSource', get['utm_source']); document.cookie = "utmSource="+get['utm_source']+";domain=.jsecoin.com;path=/;expires=Thu, 18 Dec 2037 12:00:00 UTC;"; }
		if (get['utm_campaign']) { localStorage.setItem('utmCampaign', get['utm_campaign']); document.cookie = "utmCampaign="+get['utm_campaign']+";domain=.jsecoin.com;path=/;expires=Thu, 18 Dec 2037 12:00:00 UTC;"; }
		if (get['utm_content']) { localStorage.setItem('utmContent', get['utm_content']); document.cookie = "utmContent="+get['utm_content']+";domain=.jsecoin.com;path=/;expires=Thu, 18 Dec 2037 12:00:00 UTC;"; }
	}
</script>

<script>
console.log(''+"\n"+'\
#####################################'+"\n"+'\
#                                   #'+"\n"+'\
#               OOOOO               #'+"\n"+'\
#           OOOOO   OOOOO           #'+"\n"+'\
#          OOO         OOO          #'+"\n"+'\
#       o  OOO         OOO  o       #'+"\n"+'\
#     o    OOO         OOO    o     #'+"\n"+'\
#    o     OOO         OOO     o    #'+"\n"+'\
#           OOOOO   OOOOO           #'+"\n"+'\
#      OOOOO    OOOOO    OOOOO      #'+"\n"+'\
#  OOOOO   OOOOO      OOOOO  OOOOO  #'+"\n"+'\
# OOO         OOO   OOO         OOO #'+"\n"+'\
# OOO         OOO   OOO         OOO #'+"\n"+'\
# OOO         OOO   OOO         OOO #'+"\n"+'\
# OOO         OOO   OOO         OOO #'+"\n"+'\
#  OOOOO   OOOOO     OOOOO   OOOOO  #'+"\n"+'\
#      OOOOO             OOOOO      #'+"\n"+'\
#              o  o  o              #'+"\n"+'\
#                                   #'+"\n"+'\
#        _ ___ ___        _         #'+"\n"+'\
#     _ | | __| __|__ ___(_)___     #'+"\n"+'\
#    | || |__ | _|  _| _ | |   |    #'+"\n"+'\
#    |____|___|___|__|___|_|_|_|    #'+"\n"+'\
#                                   #'+"\n"+'\
#   DEVELOPERS! Get involved with   #'+"\n"+'\
#   the JSEcoin project.            #'+"\n"+'\
#                                   #'+"\n"+'\
#        https://jsecoin.com        #'+"\n"+'\
#                                   #'+"\n"+'\
#####################################'+"\n"+'\
																		 '+"\n"+'\
Information for developers:          '+"\n"+'\
https://developer.jsecoin.com/'+"\n"+'\
																		 '+"\n"+'\
Found a bug?:                        '+"\n"+'\
https://jsecoin.com/oddJobs/bugBounty'+"\n"+'\
																		 '+"\n"+'\
#####################################'+"\n");
</script>

</body>
</html>